@font-face {
        font-family: nehad;
        src: url(../assets/nehad/Nehad.ttf);
}

body{
    
    background-color: black;
    background-image: url(../assets/ghost_logo.png);
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 50%;
}

.text{
    text-transform: uppercase;
    position: absolute;
    left: 35%;
    bottom: 5%;
    font-size: 122px;
    color: #F29829;
    font-family: nehad;
}

@media screen and (min-width: 414px) and (max-width:500px){
    .text{
        left: 15%;
        bottom: 40%;
        font-size: 62px;
    }
    body{
        background-size: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 413px) {
    .text{
        left: 22%;
        bottom: 40%;
        font-size: 52px;
    }
    body{
        background-size: 100%;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .text{
        left: 20%;
        bottom: 20%;
        font-size: 80px;
    }
    body{
        background-size: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .text{
        left: 39%;
        bottom: 0;
        font-size: 40px;
    }
    body{
        background-size: 50%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1024px) {
    .text{
        left: 39%;
        bottom: 0;
        font-size: 60px;
    }
    body{
        background-size: 50%;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1600px) {
    .text{
        left: 37%;
        bottom: 12%;
        font-size: 90px;
    }
    body{
        background-size: 50%;
    }
}



@media screen and (min-width: 2000px) and (max-width: 2700px) {
    .text{
        left: 39%;
        bottom: 12;
        font-size: 122px;
    }
    body{
        background-size: 45%;
    }
}